@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap');

:root {
   --border-radius1: 1px;
   --border-radius2: 1px;
   --border-radius3: 1px;
   --border-radius4: 1px;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(71, 57, 77);
}

header h1 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.363);
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 35px;
    border-bottom: solid 1px;
}

.box {
    padding: 100px;
    width: 28%;
    height: 50px;
    margin: 0 auto;
    border: 1px solid;
    color: white;
    border-radius: var(--border-radius1) var(--border-radius2) var(--border-radius3) var(--border-radius4);
}

.box #box-text {
    text-align: left;
    height: 100%;
    width: 100%;
    border: 1px solid;
    background-color: white;
    color: rgb(94, 94, 94);
}

#inputs {
    display: grid;
    grid-template-columns: 4fr;
    margin: 18 auto;
    width: auto;
    border-radius: 5%;
}

#inputs #right {
  margin: 1 auto;
    width: 150px;
}

#inputs #bottom  {
    margin: 1 auto;
    width: 150px;
}

#inputs #top  {
    margin: 1 auto;
    width: 150px;
}

#inputs #left  {
    margin: 1 auto;
    width: 150px;
}


#inputs #button {
    margin: 4 auto;
    cursor: pointer;
    width: 80px;
    height: 28px;
    border: 0;
    border-radius: 10%;
    background-color: rgb(255, 255, 255);
    color: rgb(97, 34, 124);
    font-family: 'Ubuntu', sans-serif;
}

#inputs #button:hover {
    color: rgb(255, 255, 255);
    transition: color 1900ms;
    background-color: rgb(125, 0, 150);
    transform: background-color 1860ms;
}